.nav-link {
    color: #1e1e1f !important;
    text-transform: uppercase;
    font-size: .8rem;
}
.bg-hero{
    background-image:linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.315)) ,  url(../image/bg-header.jpg);
    background-position: top;
    background-size: cover;
    height: 100vh;
}
.hero{
    height: 90vh;
}
.text{
    font-size: 6rem;
    margin-bottom: 49px;
}
.btn-more{
    background: #f7f7f8;
    text-transform: uppercase;
    font-size: .8rem;
    color: #1e1e1f;
}
.container-padding{
    padding-top: 200px;
    margin-bottom: 110px;
}
.grid-text{
    font-size: 3.5rem;
    padding: 55px;
}
.grid-description{
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #6f6f71;
}
::placeholder{
    text-transform: uppercase;
    font-size: .8rem;
}
.imagen{
    background-size: cover;
    height: 545px;
    margin-bottom: 30px;
}
.box{
    background-image: url(../image/grid.webp);

}
.box-left{
    background-image: url(../image/grid2.webp);
}
.box-one{
    background-image: url(../image/grid3.webp);
}
.box-two{
    background-image: url(../image/grid4.webp);
}
.container-banner{
    display: flex;
    background: #071112;
}
.content{
    display: flex;
    margin: auto;  
}
.banner{
    width: 50%;
    padding-left: 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f7f7f8;
}
.bg-banner{
    width: 50%;
    height: 700px;
    background-image: url(../image/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner h3{
    font-size: 3rem;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 35px;
}
.banner p{
    margin-bottom:42px
}
.parrafo{
    width: 50%;
}
footer{
    background: #071112;
    height: 300px;
}
.rettro{
    margin-top: 70px;
}
.fa-brands{
    color: #f7f7f8;
    margin: 0 20px;
    margin-top: 2rem;
    width: 50px;
    height: 50px;
    border:1px solid #f7f7f8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.copy{
    margin-top:  15px;
}

/* PAGE ADIOCIONALDS */
.hero-about{
    height: 40vh;
}
.bg-heros{
    background-image:linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.315)) ,  url(../image/bg-header.jpg);
    background-position: top;
    background-size: cover;
    height: 40vh;
}

/* SECTION ABOUTE */
.about{
    padding-top: 110px;
    padding-bottom: 110px;
}
.mb-50 h2{
    font-size: 58px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 21px;
}
p{
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

/* section contact */
.form-controols{
    min-height: 700px ;
    margin-top: 7rem;
}
.intro-text p{
    max-width: 500px;
    margin: 16px auto 0 auto;
    color: rgb(154, 153, 153);   
}
.intro{
    margin-top: 3rem;
}
.form-control{
    border: none;
    -webkit-box-shadow: 1px 3px 18px -5px rgba(0,0,0,0.52); 
box-shadow: 1px 3px 18px -5px rgba(0,0,0,0.52);
}
.fa-brands{
    cursor: pointer;
}
.card:hover{
    -webkit-box-shadow: 1px 3px 18px -5px rgba(0,0,0,0.52); 
    box-shadow: 1px 3px 18px -5px rgba(0,0,0,0.52); 
    cursor: pointer;
    transition: .1s;
}
.bg-more{
    background-color: #1e1e1f;
    color: #f7f7f8;
    border: 1px solid #1e1e1f;
    transition: 1s;
}
.bg-more:hover{
    color: #1e1e1f;
    transition: 1s;
    background-color: transparent;
}
.autos .nav-link{
    background-color: #0b0b0b;
    margin: 3px;
    color: #fbfbfb;
}
.autos{
    margin-top: 7rem;
}

.card div span{
    font-weight: 600;
}
.fa-solid{
    color: #1e1e1f;
}
.btn-card:hover .fa-solid{
    color: rgb(245, 245, 245) !important;
}
.icons-card{
    margin: 15px;
}
.btn-card{
    padding: 10px;
    border: 1px solid #1e1e1f;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
}
.btn-card:hover{
    color: #fff;
    background-color: #1e1e1f;
}
.switch{
    color: #f7f7f8 !important;
}
/* BLOG  */
.blogTiles {
    padding-bottom: 50px;
    background: url("") no-repeat fixed center center;
    background-size: 100% auto;
    background-color: #fff;
  }
  .blogTiles h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 44px;
    margin-top: 70px;
  }
  .blogTiles h2 span {
    color: #1e1e1f;
    font-weight: bold;
  }
  .blogTiles .tile {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
  }
  .blogTiles .tile:hover h3 {
    color: #1e1e1f;
  }
  .blogTiles .tile:hover .tileOverlay {
    height: 400px;
    width: 100%;
    color: #333;
    background-color: #1e1e1f;
    position: absolute;
    top: 0;
    opacity: 0.95;
    -webkit-transition: 0.4s ease-out all;
    -moz-transition: 0.4s ease-out all;
    -o-transition: 0.4s ease-out all;
    transition: 0.4s ease-out all;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .blogTiles .black {
    background: #1e1e1f;
  }
  .blogTiles .tile .tileImageFirst {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    height: 100%;
  }
  .blogTiles .tile .tileImageFirst img {
    height: 100%;
    width: auto;
  }
  .blogTiles .tile .tileContentFirst {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 10px;
  }
  .blogTiles .tile .tileContentFirst h3 {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
  }
  .blogTiles .tile .tileContentFirst p {
    color: #fff;
    font-size: 16px;
  }
  .blogTiles .tile .tileContent {
    padding: 0 10px;
  }
  .blogTiles .tile .tileContent h3 {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
  .blogTiles .tile .tileImage {
    overflow: hidden;
    max-height: 180px;
  }
  
  .tileOverlay {
    height: 400px;
    width: 0%;
    color: #333;
    background-color: #1e1e1f;
    position: absolute;
    top: 0;
    opacity: 0;
    -webkit-transition: 0.4s ease-out all;
    -moz-transition: 0.4s ease-out all;
    -o-transition: 0.4s ease-out all;
    transition: 0.4s ease-out all;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    text-align: center;
    padding-top: 180px;
  }
  .tileOverlay span {
    text-align: center;
    max-height: 400px;
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  
  .blogTiles .tileLast {
    background: #1e1e1f;
    height: 400px;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border-radius: 4px;
  }
  .blogTiles .tileLast span {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 26px;
  }
  
  @media (max-width: 768px) {
    .blogTiles h2 {
      text-align: center;
      font-weight: bold;
      margin-bottom: 30px;
      font-size: 34px;
      margin-top: 70px;
    }
    .blogTiles .tile {
      background: #fff;
      border-radius: 4px;
      overflow: hidden;
      height: inherit;
      margin-bottom: 20px;
      display: block;
      color: inherit;
      text-decoration: none;
      position: relative;
    }
    .blogTiles .tile .tileImageFirst {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      height: auto;
    }
    .blogTiles .tile .tileImageFirst img {
      height: auto;
      width: 100%;
    }
    .blogTiles .black {
      background: #fff;
    }
    .blogTiles .tile .tileContentFirst {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      padding: 0 10px;
    }
    .blogTiles .tile .tileContentFirst h3 {
      font-weight: bold;
      color: #333;
      text-transform: uppercase;
      font-size: 20px;
    }
    .blogTiles .tile .tileContentFirst p {
      color: #333;
      font-size: 14px;
      font-weight: 400;
    }
    .blogTiles .tileLast {
      background: #1e1e1f;
      height: 100%;
      width: 100%;
      display: inline-block;
      padding: 20px;
      text-decoration: none;
      border-radius: 4px;
    }
  }
/* MEDIA QUERIES */
@media(max-width:900px){
    .content{
        flex-direction: column;
        margin-top: 2rem;
    }
    .banner, .bg-banner{
        width: 100%;
    }
}
@media(max-width:400px){
    .content{
        flex-direction: column;
        margin-top: 2rem;
    }
    .banner, .bg-banner{
        width: 90%;
    }
    .bg-banner{
        display: none;
    }
    .text{
        font-size: 2.5rem;
    }
    .parrafo{
        width: 100% !important;
    }
    .grid-text{
        font-size: 2rem;
    }
    .banner h3{
        font-size: 2rem;
    }
}